@media screen and (max-width: 768px) {
  .journal-form {
    height: 100vh;
  }

  .journal-form > * {
    position: fixed;
    left: 0;
    right: 0;
  }

  .journal-form header,
  .journal-form button {
    display: flex;
    align-items: center;

    height: 60px;

    z-index: 100;
  }

  .journal-form header {
    top: 0;

    justify-content: space-around;

    color: var(--blue);
    font-weight: bolder;
    font-size: 1em;

    box-shadow: 0 5px 5px var(--shadow);
  }

  .journal-form header div:first-child {
    width: 75%;
    padding-left: 5%;
    font-size: 25px;

    display: flex;
  }

  .journal-form header div:first-child > * {
    margin: 0 4px;
  }

  .journal-form header div:last-child {
    width: 25%;
    text-align: center;
  }

  .journal-form header div:last-child span {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    color: var(--light-red);

    padding: 5px;

    border: 2px solid var(--red);
  }

  .journal-form textarea {
    position: fixed;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;

    padding: 12px;

    font-size: 1.15em;
    font-weight: bolder;
    color: var(--blue);
    letter-spacing: 0.05em;
  }

  .journal-form textarea:disabled {
    color: gray;
    transition: color 0.1s;
  }

  .journal-form textarea::selection {
    background-color: var(--blue);
    color: var(--white);
  }

  .journal-form button {
    bottom: 0;

    justify-content: center;

    box-shadow: 0 -5px 5px var(--shadow);
  }

  .journal-form button:hover {
    cursor: pointer;
  }
}
