@media screen and (max-width: 768px) {
  .journal-form {
    height: 100vh;
  }

  .journal-form > * {
    position: fixed;
    left: 0;
    right: 0;
  }

  .journal-form header,
  .journal-form button {
    display: flex;

    height: 60px;

    z-index: 100;
  }

  .journal-form header {
    top: 0;

    justify-content: space-around;

    color: var(--blue);
    font-weight: bolder;
    font-size: 1em;

    box-shadow: 0 5px 5px var(--shadow);
  }

  .journal-form header .block {
    position: absolute;

    height: 100%;

    overflow: hidden;

    transition: width 0.5s linear;
  }

  .journal-form header .text-only {
    position: absolute;

    width: 100vw;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .journal-form header .positive {
    background-color: var(--white);
    left: 0;
  }

  .journal-form header .positive .text-only {
    color: var(--blue);
    left: 0;
  }

  .journal-form header .negative {
    background-color: var(--blue);
    right: 0;
  }

  .journal-form header .negative .text-only {
    color: var(--white);
    right: 0;
  }

  .journal-form textarea {
    position: fixed;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;

    padding: 12px;

    font-size: 1.15em;
    font-weight: bolder;
    color: var(--blue);
    letter-spacing: 0.05em;
  }

  .journal-form textarea:disabled {
    color: gray;
    transition: color 0.1s;
  }

  .journal-form textarea::selection {
    background-color: var(--blue);
    color: var(--white);
  }

  .journal-form button {
    bottom: 0;

    align-items: center;
    justify-content: center;

    box-shadow: 0 -5px 5px var(--shadow);
  }

  .journal-form button:hover {
    cursor: pointer;
  }
}

.animate-expand {
  animation: expand 2s ease-in-out 0s 1 normal forwards;
}

.animate-contract {
  animation: contract 2s ease-in-out 0s 1 normal forwards;
}

@keyframes expand {
  100% {
    width: 100%;
  }
}

@keyframes contract {
  100% {
    width: 0%;
  }
}
